# SAST using gosec (https://github.com/securego/gosec)
name: SAST (gosec)

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  gosec:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Run Gosec (main app)
        uses: securego/gosec@master
        with:
          args: './internal/... ./network/... ./server/... ./store/... .'